* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Lato', sans-serif;
    background-color: hsla(215, 15%, 15%, 1);
  }

#main-doc {
      display: flex;
      flex-direction: row;
      height: calc(100vh - 32px);
      background-color: hsla(215, 15%, 15%, 1);
  }

#navbar {
      display: flex;
      flex-direction: column;
      position: fixed;
      width: 300px;
      height: calc(100vh - 32px);
      margin: 0;
      border-right: 10px solid #1a1a1a;
  }

.header {
      display: flex;
      justify-content: center;
      align-items: center;
      position: sticky;
      width: 100%;
      height: 80px;
      font-size: 1.4em;
      background-color:#1a1a1a;
      color: hsla(0, 0%, 65%, 1);
  }

#link { 
      display: flex;
      height: calc(100% - 80px);
      overflow-y: scroll;
      background-color:  #1c1c1c;
  }

#link>ul>li {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    width: 100%;
    min-height: 70px;
    height: auto;
    border-top: 1px solid hsla(0, 0%, 65%, 1);
  }

/*#link>ul>li>a, li>a:link, li>a:active, li>a:hover, li>a:visited*/
.nav-link:link, .nav-link:active, .nav-link:hover, .nav-link:visited  {
      text-decoration: none;
      width: 100%;
      height: 100%;
      padding: 1em 30px;
      font-size: 22px;
      color: hsla(0, 0%, 65%, 1);
  }

#link::-webkit-scrollbar {
    display: block;
    width: 1em;
    height: auto;
    background-color: #4d4d4d;
    box-shadow: inset 3px 0px 5px 2px rgba(30,30,30,0.8), inset -2px 0px 5px 2px rgba(30,30,30,0.8);
    border-radius: 15px;
}

#link::-webkit-scrollbar-thumb {
    background-color: #a6a6a6;
    border-radius: 20px;
    box-shadow: inset -3px 0px 5px 2px rgba(30,30,30,0.8),
    inset 3px 0px 5px 2px rgba(30,30,30,30.8);
  }

.content {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 300px;
    width: calc(100% - 300px);
    height: calc(100vh - 32px);
    margin-right: 0;
    padding: 10px;
    overflow-y: scroll;
    background-color: #1e1e1e;
    color: hsla(0, 0%, 65%, 1);
}

.content::-webkit-scrollbar {
    width: 1em;
    height: auto;
    background-color:#4d4d4d;
    box-shadow: inset 3px 0px 5px 2px rgba(30,30,30,0.8), inset -2px 0px 5px 2px rgba(30,30,30,0.8);
    border-radius: 15px;
}

.content::-webkit-scrollbar-thumb {
    background-color:  #a6a6a6;
    border-radius: 20px;
    box-shadow: inset -3px 0px 5px 2px rgba(30,30,30,0.8),
    inset 3px 0px 5px 2px rgba(30,30,30,30.8);
  }

.main-section {
    display: flex;
    flex-direction: column;
}

.heading{
    font-size: 2.3em;
    font-weight: 500;
    margin: 10px;
}

.main-section>p {
    width: 90%;
    margin: .5em auto;
    font-size: 1.2em;
    text-align: justify;
    line-height: 1.5em;
}

.main-section > ul {
    display: block;
    align-self: center;
    width: 80%;
    margin-left: 2em;
    font-size: 1.2em;
    text-align: justify;
    line-height: 1.7em;
}


#sublist {
    display: block;
    width: 80%;
    margin: .8em 0 .8em 3em;
    line-height: 1.7em;
}

pre {
    display: flex;
    white-space: pre-line;
    width: 85%;
    height: auto;
    margin: 1em auto;
    padding: 1em 0 1em 1em;
    font-size: 1.3em;
    line-height: 2em;
    color: hsla(205, 100%, 50%, 1);
    background-color: hsla(0, 0%, 9%,0.8);
    border-radius: 8px;
} 

code {
    margin-left: 1em;
}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: sticky;
    bottom: 0;
    height: 32px;
    background-color: #1e1e1e;
    padding-bottom: 7px;
    padding-right: 1.2em;
}

address {
    color: hsla(0, 0%, 65%, 0.2);
}

address>a, address>a:link, address>a:active, address>a:hover, address>a:visited {
    text-decoration: none;
    font-size: 16px;
    color: hsla(0, 0%, 65%, 0.2);
}

#reference a,  #reference a:link, #reference a:active, #reference a:hover, #reference a:visited {
    text-decoration: underline;
    font-size: 1em;
    padding: 0;
}
 
@media screen and (max-width: 768px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: calc(100vh - 32px);
        width: 100%;
    }

    .side-wrapper {
        display: flex;
        position: fixed;
        left: 0;
        top: 0;
        height: 258px;
        width: 100%;
        border-right: none;
        border-bottom: 2em solid #1a1a1a;
    }

    .main-doc {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 258px;
        width: 100%;
        height: calc(100% - 258px);
    }

}